<!DOCTYPE html>
<html th:replace="~{layout/default :: layout(~{::title}, ~{::section}, ~{})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
</head>
<body>

<section class="container">

    <div class="jumbotron">
        <h1 th:text="#{home.text.welcome}" class="display-4">Welcome to YAS!</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
            featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <!-- TODO: add security -->
        <p class="lead">
            <a th:text="#{auth.register.button.submit}" th:href="@{/register}"
               href="#" class="btn btn-primary btn-lg disabled" role="button">Register</a>
        </p>
    </div>

</section>

</body>
</html>